.part2{

padding: 4rem 3.5rem;
}
.form__para{
    /* font-weight: 400 !important; */
    font-size:medium;
    color:hsl(231deg 11% 63%);
    margin-bottom: 2.7rem;
    
}
.input__group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    color: hsl(213deg 96% 18%);
    
  
}
.errorCon{
    position: relative;
}
.input__group label{
    /* position: relative; */
    font-weight: 500;
    margin-left: .25rem;
}
input{
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid hsl(229deg 24% 87%);
    border-radius: 0.5rem;
    background-color: hsl(231deg 100% 99%);
    outline: none;
    font-weight: 500;
}
.form__container{
    height:92%;
}
input:focus{
    border: 1px solid blue;
}
button{
    background-color: hsl(213deg 96% 18%);
    color: #fff;
    margin-left: 77%;
    font-weight: 400;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    /* background: none; */
    /* color: var(--neutral-400); */
    transition: filter .2s ease-in-ou
}

.error{
    position: absolute;
    font-weight: 500;
    top: -74px;
    left: 410px;
    font-size: .8rem;
    color: #d82020;
    margin-left: 0.25rem;
}